# --- API
requests>=2.31.0

# --- DATA ENGINEERING ---
polars>=1.0.0
pyarrow>=15.0.0
duckdb>=1.0.0
faker>=25.0.0

# --- DATA SCIENCE & MATH ---
numpy>=1.26.0
pandas>=2.2.0

# --- MACHINE LEARNING & XAI ---
scikit-learn>=1.4.0
xgboost>=2.0.0
lightgbm>=4.3.0
catboost>=1.2.0
shap>=0.45.0

# --- VISUALIZATION ---
streamlit>=1.36.0
plotly>=5.22.0
